.logo {
    display: block;
    font-size: 50px;
    font-weight: bold;
}

.site-name {
    font-weight: normal;
    font-size: 18px;
    line-height: 1;
    text-align: center;

    @media screen and (min-width: 940px) {
        margin: 0 0 0 50px;
    }
}