h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.5em;
}

h1, 
h2, 
h3 {
    font-family: $font-serif;
    margin-bottom: 15px;
}

li,
p {
    font-size: .875em;
    margin-bottom: 1em;
    line-height: 1.5;
}

li {
    line-height: 1;
    margin-bottom: .5em;
}

hr {
    margin: 48px 0;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #f9f8f8;
}

.location b {
    display: block;
}

.intro-tile {
    margin-bottom: 1em;
}